@use './sheet-navigation.scss';
@use './editable-sheet.scss';

@media (min-width: 581px) {
  .sheet-navigation {
    a[data-tab='sidebar'] {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  // Hide the default sidebar in mobile mode
  // Original : 'sidebar' 35% 'header' 60px 'nav' min-content 'content'
  .mobile-improvements.system-pf2e
    .sheet.actor.character
    .window-content
    form.crb-style {
    grid: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    aside {
      display: none;
    }

    header.char-header {
      flex-basis: 100%;
      height: 10%;
      padding: 0 8px;

      .char-details {
        margin: 0;
      }

      .char-level {
        .exp-data {
          .exp-input {
            display: flex;
          }

          progress {
            left: 0;
            width: 100%;
          }
        }
      }
    }

    nav.sheet-navigation {
      flex-basis: 100%;
      height: 5%;
    }

    section.sheet-body {
      flex-basis: 100%;
      height: 85%;

      section[data-tab='character'] {
        .subsection.attributes {
          & > ul {
            grid: none;
            display: flex;
            & > li {
              flex: 1 1 0px;
            }
          }
        }
      }

      section[data-tab='encounter'] {
        ol.actions-list.strikes-list > li {
          grid: none;
        }
      }
    }

    &.navigation-sides {
      nav.sheet-navigation {
        flex-basis: 10%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10px;
        order: 0;

        &.navigation-right {
          order: 1;
        }
      }
      .sheet-body {
        height: 90%;
        flex-basis: 90%;
        flex-grow: 1;
        background-image: url('/systems/pf2e/assets/sheet/background.webp');
      }
    }
  }

  nav.sheet-navigation {
    .panel-title {
      display: none;
    }
  }

  // DEBUG page separation. Migh actually keep this idk
  .sheet-content {
    height: 100%;
    overflow: auto;

    & > section,
    & > div {
      border-bottom: dashed rebeccapurple;
      min-height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}

.sidebar-section[data-tab='sidebar'] {
  aside {
    background-image: none !important;
    height: 100%;
    display: block !important;

    & > .sidebar {
      box-shadow: none !important;
      height: inherit;
    }

    & > .logo {
      display: none;
    }
  }

  // Titles and labels text color
  header > h2,
  .roll-data > h2,
  .hp-small,
  .armor-class .shield-max-status .max .sidebar_label,
  .armor-class .shield-max-status .max .data-value,
  .armor-class .shield-max-status .status .sidebar_label,
  .armor-class .shield-max-status .status i,
  .condition-pips .sidebar_label,
  .condition-pips .pips i {
    color: #181913 !important;
  }

  .sidebar > header {
    margin: 8px 0px;
  }

  .hitpoints {
    .hp-big {
      display: flex;
      & > div {
        flex-basis: 100%;
      }

      & .temp-hp,
      .current-hp,
      .max-hp {
        display: flex;
        flex-direction: column;
        background-color: var(--color-pf-secondary);
        margin: 0px;
        border: 1px solid var(--sidebar-title);
        border-radius: 0 0 4px 4px;
        padding: 5px;
      }

      & input,
      .data-value h2 {
        color: var(--text-light);
      }

      & .max-hp .data-value h2 {
        color: var(--sidebar-label);
      }
    }
  }
  // Temp HP input color

  // Modifier inputs color
  a.modifier {
    color: var(--color-pf-primary);
  }

  // roll icons for some reason don't display propeyly
  .roll-icon:not(.disabled) {
    opacity: 1;
    filter: brightness(0);
  }
}
