body {
  background-color: purple;
}

@media (max-width: 580px) {
  // Hide the default sidebar in mobile mode
  // Original : 'sidebar' 35% 'header' 60px 'nav' min-content 'content'
  .mobile-improvements.system-pf2e
    .sheet.actor.character
    .window-content
    form.crb-style {
    grid: 'sidebar' 0% 'header' 60px 'nav' min-content 'content';
  }
}

.sidebar-section[data-tab='sidebar'] {
  // Text color
  h2,
  .hp-small,
  .armor-class .shield-max-status,
  .container:not(.current-hp) {
    --sidebar-title: #181913;
    --sidebar-label: var(--sidebar-title);
  }

  // Modifier inputs color
  a.modifier {
    color: var(--color-pf-primary);
  }

  // Pips and rest icons
  .hp-small .condition-pips i,
  .roll-icon.rest i {
    color: var(--sidebar-label);
  }

  // roll icons for some reason don't display propeyly
  .roll-icon:not(.disabled) {
    opacity: 1;
    filter: brightness(0);
  }

  aside {
    background-image: none !important;

    & > .logo {
      display: none;
    }
  }
}
