body {
  background-color: green;
}
@media (max-width: 580px) {
  .sheet-body {
    display: flex;
    flex-direction: row;
  }

  .sheet-navigation,
  .sheet-content {
    vertical-align: top;
    display: inline-block;
  }

  .sheet-content {
    flex-basis: 90%;
    position: relative;
  }

  nav.sheet-navigation {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
  }
}
